/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

html {
  scroll-behavior: smooth;
}

body{
	font-family: 'Poppins', sans-serif;
}

hr {
  text-align: left;
  width: 100px;
  margin: 13px 0;
  border-bottom: 4px solid #0E77FF;
  margin-bottom: 1.5rem;
}

@media screen (max-width:; 576px) {
	body {
		overflow-x: hidden !important;
	}
}

/*NAvbar*/
.navbar {
	color: #000;
	background-color: none !important;
	background: transparent;
}

.navbar-nav {
	margin-left: 46%;
}

.nav-item {
	margin-left: 12px;
}

.navbar-brand img{
	width: 160px;
	height: 55px;
	float: left !important;
	left: 0;
}

.line_sec {
	margin-left: 32px;
    width: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
}

@media (max-width: 576px) {
	.navbar-nav {
		text-align: center;
		color: #fff;
		background-color: #05fab6;
		margin: 0 5%;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	ul.navbar-nav {
		padding: 10px 0px;
	}

	.nav-item a{
		color: #fff !important;
		padding: 7px 0px !important;
	}

	.nav-item hr {
		border-bottom: 4px solid #fff !important;
	}
	.line_sec {
		margin-left: 135px;
		margin-bottom: 5PX;
		display: block;
	}
}

.pointer {
	height: 30px;
	width: auto;
	margin-right: 4px;
}

.section-heading {
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
}

.head_text {
	text-align: center;
	line-height: 1.7;
	font-size: 10px;
	padding: 0px 200px;
}

.head_sec {
	padding: 0px 140px 0px 40px;
}

.head_sec h5 {
	color: #0E77FF;
}

@media (max-width: 480px) {
	.head_text {
		padding: 0px 20px;
	}

	.head_sec {
	padding: 0px 20px;
	}

	.sec-heading {
		margin-left: 0px !important;
	}
}

/*Navbar End*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
}

a {
	text-decoration: none;
	color: #000;
}


.privacy_sec h1 {
	font-size: 52px !important;
	margin-bottom: 30px;
	text-align: center !important;
}

.privacy-text {
font-size: 12px;
}


/*Banner Part Start*/

#banner {
	height: 550px;
	background-image: url('../Assests/banner.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: color;
	position: relative;
}

.navbar-toggler {
	background-image: url('../Assests/nav.png');
	background-position: 50px;
	width: 50px;
	height: 45px;
}

.banner_text {
 padding: 120px 85px;
 z-index: 1;
 position: relative;
 justify-content: center;
 align-items: center;
 text-align: left;
}

.banner_text h1{
	font-size: 62px;
	color: #fFF;
	display: flex;
	justify-content: center;
	align-items: center !important;
	font-weight: 700;  	
	margin: 70px -20px 70px 30px;
}


#banner .overlay {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right,#2f3031 0%, #2f3031 50%, #05fab6 50%, #05fab6 100%);
	position: absolute;
	opacity: 0.8;
}

.banner_text p {
	font-size: 13px;
	line-height: 2;
}

hr.but1 {
	border:none;
	border-bottom: 2px solid #05fab6;
	margin-left: 230px;
    margin-top: -26px;
    width: 60px;
}

hr.but2 {
	border:none;
	border-bottom: 6px solid #05fab6;
	margin-left: 75px;
    margin-top: -80px;
    width: 120px;
}

hr.sec-div {
	transform: rotate(90deg);
	border:none;
	border-bottom: 4px solid #05fab6;
	width: 240px;
	margin-top: -10px;
}

hr.sec-div2 {
	transform: rotate(90deg);
	border:none;
	border-bottom: 4px solid #000;
	width: 240px;
	margin-top: -60px;
}

@media (max-width: 576px) {
	#banner {
		height: 450px;
		background-size: cover;
	}

	.banner_text {
		text-align: center;
		padding: 40px 10px !important;
	}

	.banner_text h1{
	font-size: 20px !important;
	color: #fff;
	text-align: center;line-height: 2;
	padding: 10px 0px !important;
	margin: 0px;

	}

	.banner_text p {
		display: none;
		font-size: 10px;
	}

	hr.sec-div, hr.sec-div2 {
		width: 88px;
	}
}

.button1 {
	width: 200px;
	height: 50px;
	border-radius: 5px;
	background-color: none;
	background: transparent;
	vertical-align: middle;
	color: #fff;
	border: 1px solid #fff;
	font-weight: 600;
	margin-left: 60px;
}

i {
	color: #fff;
	height: 4px !important;
	width: 4px !important;
	margin-right: 15px;
}

.button1:hover {
	background-color: #05fab6;
	border: none;
	color: #000;
}

.sec-heading {
	text-align: center;
	margin-top:20px;
}

.sec-heading h1 {
	color: #05fab6;
	font-weight: 700;
	font-size: 60px;
	text-align: center;
}

.sec-heading span{
	color: #000;
}

/* Who we are Section Start*/

#whoweare {
	padding: 80px 0;
}

.whoweare_text {
	padding: 0px 200px 0px 120px;
}

.whoweare_text h1 {
	color: #0E77FF;
}

.whoweare_text p {
	font-size: 14px;
	margin-top: 20px;
}

.ico_img img {
	margin-top: 25px;
	margin-bottom: 20px;
	height: auto;
	width: 110px;
}

.whoweare_text h4{
	/*margin-top: 80px;*/
	font-size: 29px;
	font-weight: 600;
}

.whoweare_text h6 {
	font-size: 18px;
	font-weight: 600;
}

@media (max-width: 576px) {

	#whoweare {
		padding: 40px 0px;
	}

	.whoweare_text {
		padding: 0 0 0 25px;
	}

	.whoweare_text h3, .whoweare_text h6 {
		font-size: 14px;
		z-index: 1;
	}

	.whoweare_text h5{
		font-size: 12px;
	}

	.whoweare_text p {
		font-size: 11px;
	}


	.whoweare_text h4 {
    margin-top: 60px;
    font-size: 20px;
	}
	
	.sec-heading h1 {
		color: #05fab6;
		font-weight: 700;
		font-size: 40px;
	}

	.ico_img img {
		width: 70px;
	}

	hr.but2 {
	border:none;
	border-bottom: 4px solid #05fab6;
	margin-left: 25px;
    margin-top: -73px;
    width: 80px;
	}

}

/* Who we are Section End*/

/* Service Section*/

#services {
	padding: 80px 0;
	background: #F9FBFF;
}


.float_img {
	float: right;
	right: 0px;
	position: relative;
}

.float_img img {
	height: auto;
	width: 450px;
	margin-top: -360px;
}


.text_sec {
	padding: 10px 120px ;
	position: relative;
}

.text_sec p {
	padding: 25px 0px;
	font-size: 14px;
}

#services h4{
	font-weight: 600;
	font-size: 24px;
	margin-top: 22px;
}

#services h6 {
	font-size: 16px;
	line-height: 1.5;
}

.nav.nav-tabs {
	margin-top: 15px;
	border: none !important;
}

.nav.nav-tabs a {
	text-decoration: none;
	color: #0E77FF;
	font-size: 13px;
	font-weight: 600;
}


.tablink {
	border:none;
	border-radius: 10px;
	background-color: #E5F4FF;
	padding: 11px 30px;
	margin-right: 20px; 
	margin-top: 18px;
}

.box_2 {
	margin: 30px 0px;
	height: 330px;
    width: 100%;
    padding: 60px 120px 60px 60px;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 1px 1px 9px 5px #0707070f;
    -moz-box-shadow: 1px 1px 9px 5px #0707070f;
    box-shadow: 1px 1px 9px 5px #0707070f;
}

.box_2 h2 {
	margin-bottom: 25px;
	font-size: 30px;
}

.mob_img {
	display: none;
}

.box_2 p{
	font-size: 12px;
	line-height: 1.5;
	font-weight: 600;
}

@media(max-width: 576px){
	#services {
	background-image: linear-gradient(to bottom,#F9FBFF 0%, #F9FBFF 33%, #0E77FF 33%, #0E77FF 65%, #F9FBFF 65%, #F9FBFF 100% );
	padding: 40px 0px;
	}

	.tab_sec {
	padding: 0px 30px;
	}

	.mob_img {
		display: block;
		text-align: center;
		height: 200px;
	}

	.mob_img .float_img img {
		height: auto;
		width: 450px;
		margin-top: 0px;	
	}

	.float_img {
		text-align: center;
		position: relative;
		left: 80px;
		top: -70px;
	}

	.box_2 {
		margin: 15px 0px;
		padding: 30px 15px;
	}

	.text_sec {
		padding: 10px 40px ;
	}

	#services h4{
		font-size: 16px;
		margin-top: 22px;
	}

	#services h6 {
		font-size: 13px;
		line-height: 1.5;
	}

	.desk_img {
		display: none;
	}
}

/* Service Section End*/

/*Workflow start*/
#workflow {
	padding: 80px 0px 80px 0px;
}

#workflow .sec-heading {
	margin: 0px !important;
}

.bg_black {
	background: #000;
	height: 480px;
}

.bg_black h2 {
	color: #05fab6;
	font-weight: 700;
	font-size: 52px;
	padding: 80px 0px 30px; 
	text-align: center;
}

#workflow .button1 {
	margin-top: 10px;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	background-color: none;
	background: transparent;
	vertical-align: middle;
	color: #05fab6;
	border: 1px solid #05fab6;
	font-weight: 700;
}

#workflow .box {
	margin: 30px 0px;
    padding: 18px 50px;
    height: auto;
    width: auto;
    background-color: none;
    border: none;
    -webkit-box-shadow: 1px 1px 9px 5px #0707070f;
    -moz-box-shadow: 1px 1px 9px 5px #0707070f;
    box-shadow: 1px 1px 9px 5px #0707070f;
}

.box_overlay {
	display: none;
	padding: 80px 80px 30px;
}

.box_overlay h3 {
	font-weight: 600;
	font-size: 40px;
}

.box_overlay ul {
	padding: 15px 12px 0px;
}

.box_overlay li {
	line-height: 2;
	font-weight: 500;
	font-size: 16px;
}

#workflow .box:hover{
	margin: 0px;
    padding: 18px 50px;
    height: auto;
    width: auto;
    background-color: #05fab6;
    border: none;
    transition: all 0.3s ease-in;
    color: #000;
}

#workflow .box:hover .box_overlay {
	display: block;
}

#workflow .box:hover .before_hover_text {
	display: none;
}

.before_hover_text hr.but1 {
	margin-left: 380px;
}

.box-wrap:hover .box{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}
.box-wrap:hover .box:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

.mob_view_serv {
		display: none;
	}

.button2 {
	width: 100px;
	height: 30px;
	border-radius: 25px;
	background-color: #0E77FF;
	vertical-align: middle;
	color: #fff;
	border:none;
	font-weight: 600;
	font-size: 14px;
    margin: -60px 0px 0px -40px;
}

.pitch {
	text-align: center;
	margin-bottom: 60px;
}

@media (max-width: 576px) {
	#workflow {
		padding: 40px 0px;
	}


	#workflow .bg_black {
    display: none;
	}

	.mob_view_serv {
		display: block;
		/*background-image: linear-gradient(to bottom, #0E77FF2e 0%, #0E77FF2e 45%, #F9FBFF 55%, #F9FBFF 100% );*/
		background-color: #F9FBFF ;
		padding: 0px 20px 20px;
	}

	.mob_view_serv .box_mob_view h3 {
	font-weight: 600;
	font-size: 40px;
	text-align: center;
	padding-top: 20px;
	}

	.box_mob_view ul {
		padding: 15px 40px 0px;
	}

	.box_mob_view li {
		line-height: 2;
		font-weight: 500;
		font-size: 16px;
	}
}

/*Workflow end*/

/* Gallery Section */

#gallery {
	padding: 0px 0px 80px;
	height: auto !important;
}

.filter_but {
	width: 100%;
	padding: 30px 0px 30px 150px;  
	text-align: left;
}

.filter-button {
    font-size: 14px;
    border: none !important;
    text-align: center;
    color: #000;
    font-weight: 700;
}

.btn-default.active .filter-button:active
{
    border-bottom: 4px solid #05fab6 !important;
}

.gallery_port {
	width: 100%;
	margin: 0px;
	display: flex !important;
}

.gallery_product img{
	width: 337px;
	height: 160px;
}


.Portfolio {
    position: relative;
    margin: 15px 10px;
    border: none;
    display: inline-block;
    width: 320px;
    text-align: center;
    transition-duration: 0.4s;
    border-radius: 5px;
    animation: winanim 0.5s ;
    -webkit-backface-visibility:visible;
    backface-visibility:visible;
    box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)
}

.Portfolio:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.Portfolio img {
    width: 320px;
    height: 160px;
    border-radius: 5px
}
#gallery .nav {
    padding:20px;
    margin-left:90px;
    margin-top:10px;
}

#gallery .nav li a { 
    margin:5px;
    padding: 15px 50px; 
    font-size:16px; 
    color:#000; 
    background: #fff;
    transition-duration: 0.4s;
    border: 1px solid #000;
}
#gallery .nav a:hover { 
    background: #05fab6;
    color: #fff;
    font-weight: 700;
    border: none; 
}
#gallery .nav .active { 
    background-color: #05fab6 !important;
    color:#000;
    border: 1px solid #000;
    font-weight: 700;
}

@keyframes winanim {
    0%{opacity:0;transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
    
}

@media (max-width: 576px){
	#gallery {
		padding: 0px 0px 40px;
	}

	#gallery .nav {
    	padding:5px 0px;
    	margin-left:0px;
    	margin-top:10px;
	}

	#gallery .nav .active { 
    	background-color: #05fab6 !important;
    	color:#000;
    	border: 1px solid #000 !important;
    	font-weight: 700;
	}

	#gallery .nav li a { 
    	margin:10px 0px 0px;
    	padding: 10px 5px !important; 
    	font-size:11px; 
    	color:#000 !important; 
    	background: #fff;
    	transition-duration: 0.4s;
    	border: 1px solid #000;
	}

	.Portfolio {
		width: 170px;
		margin: 10px 5px;
		text-align: center;
	}

	.Portfolio img {
    	width: 170px;
    	height: 100px;
	}
}

/* Gallery Section end */

/*Testimonial Section Start*/

#testimonial_sec {
	background:url(../Assests/testimonials.webp) no-repeat;
	position: relative;
}

/*.sec_padding {
	padding: 80px 0px;
}*/

#testimonial_sec .overlay {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right,  #05fab6 0%,  #05fab6 49%, #FFF 49%, #FFF 100%);
	position: absolute;
	opacity: 0.6;
}

#testimonial_sec .sec-heading {
	
	margin-top:10px;
}

ul.carousel-indicators {
	margin-left: 126% !important;
	margin-right: -40%;
}

.carousel-indicators li {
    height: 15px !important;
	width: 15px !important;
	border-radius: 50% !important;
	background: none;
	border: 1px solid #000;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #000;
    margin-bottom: 120px;
}

.carousel-control-next {
    right: -55%;
    top: 10px;
    width: 260px;
    opacity: 1;
}

.carousel-control-prev {
    left: 125%;
    top: 10px;
    width: 30px;
}

.button2 {
	width: 200px;
	height: 50px;
	border-radius: 5px;
	background-color: none;
	background: transparent;
	vertical-align: middle;
	color: #fff;
	border: 1px solid #fff;
	font-weight: 600;
	margin-left: 60px;
}

hr.but3 {
	border-bottom: 3px solid #fff !important; 
}

.box2 {
	margin: 30px 10px;
	height: 220px;
    width: 280px;
    background-color: #05fab6;
    border: none;
    -webkit-box-shadow: 1px 1px 9px 5px #0707070f;
    -moz-box-shadow: 1px 1px 9px 5px #0707070f;
    box-shadow: 1px 1px 9px 5px #0707070f;
}

.text_test {
	padding: 60px 0px 0px;
}

.carousel-item {
	height: 340px;
}

.text_test i {
	color: #000;
	margin-top: -20px;
}

.text_test p{
	padding: 0px;
	font-size: 14px;
	font-weight: 600;
	color: #000;
}

.text_test h5{
	font-size: 15px;
	font-weight: 700;
	text-align: center;
}

.text_test h6 {
	font-size: 13px;
	font-weight: 600;
	text-align: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: #000;
	width: 30px;
	height: 30px;
}

@media(max-width: 576px){
	#testimonial_sec {
	/*background-image: linear-gradient(to top,  #0E77FF 0%,  #0E77FF 50%, #F9FBFF 50%, #F9FBFF 100%);*/
	background:url(../Assests/testimonials.webp) no-repeat;
	position: relative;
	}

	#testimonial_sec .overlay {
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to top,  #05fab6 0%,  #05fab6 49%, #FFF 49%, #FFF 100%);
		position: absolute;
		opacity: 0.6;
	}

	.carousel-control-next {
    right: 40%;
    top: unset;
    width: 30px;
    display: none;
	}

	.carousel-control-prev {
    left: 40%;
    top: unset;
    width: 30px;
	}

	.box2 {
		display: none;
	}

	ul.carousel-indicators {
		margin-left: 0 !important;
		margin-right: 16px;
		margin-bottom: -20px;
	}

	.carousel-indicators li {
	    height: 15px !important;
		width: 15px !important;
		border-radius: 50% !important;
		background: none;
		border: 1px solid #000;
	}

	.carousel-indicators .active {
	    opacity: 1;
	    background-color: #000;
	    margin-bottom: 50px;
	}
}

/*Testimonial Section End*/

/*Case Study Section Start*/

#casestudy {
	margin: 120px 0px 20px;
	background-image: url('../Assests/contact.webp');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 550px;
	position: relative;
}

#casestudy .overlay {
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	opacity: 0.8;
}


#casestudy .sec-heading {
	margin-left: 0 !important;
	padding: 120px 0px 80px;
	text-align: center;
}

#casestudy .sec-heading h1 span{
	color: #fff !important;
}

#casestudy hr.but1 {
	margin-left: 620px !important;
	border-bottom: 3px solid #fff !important; 
}

#casestudy .text_cont {
	position: relative;
 	z-index: 1;
}

#casestudy .button1 {
	margin-left: 450px;
	border: 1px solid #05fab6;
}

#casestudy h5 {
	padding: 70px 0px 80px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-align: center;
}

#casestudy h5 span {
	color: #05fab6;
}

.boxstudy {
	margin: 30px 10px;
	height: auto;
    width: auto;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 9px 5px #0707070f;
    -moz-box-shadow: 1px 1px 9px 5px #0707070f;
    box-shadow: 1px 1px 9px 5px #0707070f;
}


.boxstudy:hover {
    padding: 5px;
    height: auto;
    width: auto;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 9px 5px #0E77FF;
    -moz-box-shadow: 1px 1px 9px 5px #0E77FF;
    box-shadow: 1px 1px 9px 5px #0E77FF;
    transition: all 0.4s ease-in;
}


@media (max-width: 576px) {

	#casestudy {
		margin: 100px 0px 35px;
	}

	#casestudy .button1 {
		margin-left: 85px;
	}

	#casestudy .sec-heading {
		margin-left: -2px !important;
	}

	#casestudy hr.but1 {
		margin-left: 260px !important;
	}
}

/*Case Study Section End*/

/*Footer Section Start*/
#casestudy1 {
	padding: 40px 0px;
}



/*.area_final {
	background: url('../Assests/fin_part.png');
	background-size: 100% !important;
}*/

.contact-box {
	float: right;
	line-height: 30px;
	margin: 0px 260px 60px;
	height: 420px;
    width: 50%;
    padding: 20px 35px;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 1px 1px 9px 5px #0707070f;
    -moz-box-shadow: 1px 1px 9px 5px #0707070f;
    box-shadow: 1px 1px 9px 5px #0707070f;
}

.contact-form {
	float: right;
	padding: 5px 10px;
}

.contact-form input {
	margin: 12px 10px;
	padding: 3px 5px;
	width: 100%;
	border: none;
	font-size: 14px;
	border-bottom: 1px solid #05fab6; 
}

::placeholder {
	color: #b5acacba;
}

.contact-form textarea {
	margin: 12px 10px;
	padding: 3px 5px;
	width: 100%;
	border: none;
	font-size: 14px;
	border-bottom: 1px solid #05fab6; 
}

.button3 {
	margin-top: -110px;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	background-color: none;
	background: transparent;
	vertical-align: middle;
	color: #000;
	border: 1px solid #000;
	font-weight: 700;
	margin-left: 30px;
}

.button2 {
	margin-top: 10px;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	background-color: none;
	background: transparent;
	vertical-align: middle;
	color: #000;
	border: 1px solid #000;
	font-weight: 700;
	margin-left: 60px;
}

.contact-form i {
	color: #000;
}

#footer_sec {
	padding: 40px 0px 10px !important;
}

.foot_section {
	text-align: center;
}

.foot_section i {
	margin-right: 25px;
	color: #000;
}

.foot_sec1 {
	text-align: center;
	color: #000;
}

.foot_sec1 a {
	text-decoration: none;
}

.foot_sec1 a:hover {
	color: #05fab6;
	}s

.foot_sec1 p {
	margin-left: 20px;
	font-size: 16px;
	font-weight: 600;
}

.foot_sec1 span{
	color: #05fab6;
}

.foot_section li {
	font-size: 11px;
	text-align: left;
	color: #fff;
	line-height: 2;
}

@media (max-width: 480px){

	#casestudy1 {
		padding: 20px 0px;
	}

	.contact-box {
		padding: 0px;
		height: 400px;
		width: 100%;
		margin: 0px !important;
		box-shadow: none;
		background: none;
		margin-bottom: 20px;
	}

	input {
		background: none;
	}

	textarea {
		background: none;
	}

	.button2 {
	margin-top: 10px;
	width: 180px;
	height: 45px;
	margin-left: 85px;
	}

	.link2 {
		margin-top: 80px;
	}


	.link2 h6 {
		margin-left: 80px;
		margin-bottom: 40px;
	}

	.foot_sec1 {
		margin-top: 10px;
		line-height: 1.2;
	}
	.foot_section i {
	margin-right: 20px;
	}

	.foot_sec1 img {
		width: 90px;
		height: auto;
		margin-bottom: 10px;
	}
	.foot_sec1 p{
		font-size: 10px;
	}
}
/*Footer Section Start*/
